# Build outputs
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
**/Output/
**/InnoSetup/
Build/


# Visual Studio cache and settings
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Test results
TestResults/
*.trx
*.coverage

# User settings / DB / Logs / App Data
*.db
*.log
**/settings.json
**/credentials/
**/logs/
**/backups/
*.enc

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Stakpak session files
.stakpak/session*
